html {
  background: white;
}

html, body
{
    margin: 0;
    padding: 0;
}

body {
  background: linear-gradient(to bottom, grey, black);
  font-family: verdana, arial;
}

h1   {color: #86f1e3; font-size: 50px; padding-left: 2%}
h2   {color: white ; font-size: 20px; padding-left: 5%}
h3   {color: #86f1e3; font-size: 30px; padding-left: 2%}
h4   {color: white ; font-size: 20px ; text-align: center;}
p    {text-align: center;}


#colonne1{
  float: none;
  width: 75%;
  background: black;
  padding-left: 25%;
  line-height:100%;
  margin-right: 50%;
}

.lateral{
  float: left;
  width: 22%;
  height: 100%;
  background: black;
  padding: 0px;
  position: fixed;
  margin-right: 0px;
  color: white;
  overflow: visible;
  background-image: url(images/manche.jpg)
}

.contenu{
  float: right;
  background: linear-gradient(to bottom, #2E2E2E, black);
  padding: 10px;
  height: 100%;
  width: 77%;
  position: static;
  color: white;
}

header {
  height: 250px;
  width: 100%;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-image: url(images/concert-rock3.jpg);
}

.genrepix {
  text-align: center;
}


iframe {
  height: 80px;
  width: 280px;
  margin:40px;

} /* redimension de la taille des lecteurs*/

#nouveau iframe {
  width: 250px;
  margin-left: 8px;
}

input {
  line-height: 20px;
  vertical-align: 100%;
}

#musiques{
  text-align: center;
} /* pour centrer les lecteurs dans la page*/


.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#59bb98;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 24px;
  margin: 8px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
} /* copie d'un code pour forme bouton inactif*/
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
} /* forme quand on passe la souris sur le bouton*/
.button:active {
	position:relative;
	top:1px;
} /* forme quand on clique dessus*/


.recherche {
  position: relative;
  float: right;
	display: inline-block;
  vertical-align: middle;
}
